@import '../../scss-global/config';

.cart-dropdown-container {
  position: absolute;
  top: 146px;
  right: 230px;
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 360px;
  padding: 13px;
  border: 1px solid $red-color;
  background-color: #fefefe;
  z-index: 30;

  .cart-items {
    display: flex;
    flex-direction: column;
    height: 276px;
    overflow: scroll;
  }

  .empty-message {
    margin: 56px auto;
    font-size: 1.15rem;
    color: $blue-color;
  }

  button {
    margin-top: auto;
  }
}