@import '../../scss-global/config';

.checkout-page-container {
  @include global-container-styles;

  .checkout-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    min-height: 90vh;
    margin: 150px auto 230px;

    .checkout-header {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 40px;
      border-bottom: 1px solid $blue-color;
    }

    .header-block {
      width: 23%;
      font-size: 1.1rem;
      color: $blue-color;
      text-transform: capitalize;

      &:last-child {
        display: flex;
        justify-content: flex-end;
        width: 8%;
      }
    }

    .total {
      margin-top: 35px;
      margin-left: auto;
      font-size: 2rem;
      color: $blue-color;
    }
  }
}