//Variables
$white-color: #f5eee0;
$red-color: #CD4638;
$blue-color: #44567D;
$green-color: #58795e;
$beige-color: #f2cda0;
$dark-grey-color: #444;

@mixin sign-in-sign-out-styles {
  position: relative;
  width: 420px;
  height: 560px;
  color: $blue-color;
}

@mixin global-container-styles {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 52px;
  padding-bottom: 230px;
  background-color: $white-color;
  border-top: 4px solid $red-color;
}