//Variables
$white-color: #f2ebdc;
$red-color: #CD4638;
$blue-color: #495785;
$green-color: #608367;
$beige-color: #f2cda0;
$dark-grey-color: #444;

@mixin sign-in-sign-out-styles {
  position: relative;
  width: 420px;
  height: 560px;
  color: $blue-color;
}

@mixin global-container-styles {
  position: relative;
  min-height: 100vh;
  padding-top: 62px;
  padding-bottom: 230px;
  background-color: $white-color;
  border-top: 4px solid $red-color;
}