@import '../../scss-global/config';

.sign-up-container {
  position: relative;
  width: 420px;
  height: 560px;
  color: $blue-color;

  .heading {
    margin-bottom: 62px;

    h2 {
      margin-bottom: 5px;
      font-size: 1.52rem;
      font-weight: 500;
    }

    span {
      font-weight: 400;
    }
  }

  .sign-up-form {
    .sign-up-button {
      margin-top: 56px;
    }
  }
}