@import '../../scss-global/config';

.portfolio-spread {
  position: relative;
  min-height: 100vh;
  padding-top: 62px;
  padding-bottom: 230px;
  background-color: $white-color;
  border-top: 4px solid $red-color;

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 104px;
    color: $blue-color;
    font-family: 'Montserrat', sans-serif;
    
    .my-name {
      margin-bottom: 4px;
      font-size: 4.1rem;
      font-weight: 500;
      text-transform: uppercase;
      z-index: 20;
    }
    
    .separator {
      width: 44.5%;
      height: 10px;
      border-top: 1px solid $red-color;
      z-index: 20;
    }
    
    .phrase {
      margin-top: 6px;
      font-size: 1.45rem;
      font-weight: 500;
      letter-spacing: .3px;
      z-index: 20;
    }
  }

  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1236px;
    margin: 0 auto;
    padding-bottom: 150px;
  }

  .link {
    display: block;
    margin-bottom: 60px;
  }
}